^{:watch-dirs ["test" "src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true
  :open-url false
  :log-file "figwheel-main.log"
  :ring-server-options {:host "lvh.me"
                        :port 3001}}
{:main multi-money.core}
