{:linters {:unresolved-symbol {:exclude [(clojure.test/is [comparable?
                                                           html-response-with-content?
                                                           http-created?
                                                           http-success?
                                                           http-not-found?
                                                           http-no-content?
                                                           http-unauthorized?
                                                           http-redirect-to?
                                                           http-response-with-cookie?
                                                           http-unprocessable?
                                                           seq-of-maps-like?
                                                           throw-witn-ex-data?])
                                         (cljs.test/is [seq-of-maps-like?])
                                         (secretary.core/defroute)
                                         (multi-money.xtdb/query-map)
                                         (multi-money.core/dbfn)
                                         (multi-money.helpers/dbtest)
                                         (multi-money.api.entities-test/with-mocks)
                                         (multi-money.api.commodities-test/with-mocks)]}
           :clojure-lsp/unused-public-var {:exclude #{multi-money.repl
                                                      multi-money.db.sql.tasks/create
                                                      multi-money.db.sql.tasks/migrate
                                                      multi-money.db.sql.tasks/rollback
                                                      multi-money.db.sql.tasks/remigrate
                                                      multi-money.db.mongo.tasks/init
                                                      multi-money.db.mongo.tasks/index
                                                      multi-money.db.datomic.tasks/apply-schema
                                                      multi-money.util/local-date?
                                                      multi-money.util/<-storable-date
                                                      multi-money.util/qualify-keys
                                                      multi-money.util/+id
                                                      multi-money.util/apply-sort
                                                      multi-money.util/split-nils
                                                      multi-money.util/valid-id?
                                                      multi-money.util/truncate-html
                                                      multi-money.handler/print-routes}}
           :unresolved-var {:exclude [figwheel.main.testing/run-tests-async
                                      dgknght.app-lib.validation/with-ex-validation
                                      dgknght.app-lib.test-assertions/comparable?]}
           :unused-referred-var {:exclude {clojure.pprint [pprint]
                                           cljs.pprint [pprint]}}
           :unused-namespace {:exclude [clojure.pprint
                                        cljs.pprint]}}}
