{:linters {:unresolved-symbol {:exclude [(clojure.test/is [comparable?
                                                           html-response-with-content?
                                                           http-success?
                                                           http-not-found?
                                                           http-no-content?
                                                           http-unauthorized?
                                                           http-redirect-to?
                                                           http-response-with-cookie?
                                                           seq-of-maps-like?])
                                         (cljs.test/is [seq-of-maps-like?])
                                         (secretary.core/defroute)
                                         (multi-money.xtdb/query-map)
                                         (multi-money.core/dbfn)
                                         (multi-money.helpers/dbtest)]}
           :clojure-lsp/unused-public-var {:exclude #{multi-money.repl
                                                      multi-money.db.sql.migrations/create-db
                                                      multi-money.db.sql.migrations/migrate
                                                      multi-money.db.sql.migrations/rollback
                                                      multi-money.db.sql.migrations/remigrate
                                                      multi-money.db.mongo/init
                                                      multi-money.db.mongo/index
                                                      multi-money.util/local-date?
                                                      multi-money.util/<-storable-date
                                                      multi-money.util/qualify-keys
                                                      multi-money.util/+id
                                                      multi-money.util/apply-sort
                                                      multi-money.util/split-nils
                                                      multi-money.util/valid-id?
                                                      multi-money.util/truncate-html
                                                      multi-money.handler/print-routes}}
           :unresolved-var {:exclude [figwheel.main.testing/run-tests-async]}
           :unused-referred-var {:exclude {clojure.pprint [pprint]
                                           cljs.pprint [pprint]}}
           :unused-namespace {:exclude [clojure.pprint
                                        cljs.pprint]}}}
