{:dev? true
 :db {:active :sql
      :strategies {#_"datomic"
                   #_{:multi-money.db/provider :datomic
                      :server-type :dev-local
                      :system "money-dev"
                      :storage-dir "/home/doug/.datomic-storage"}

                   #_"xtdb"
                   #_{:multi-money.db/provider :xtdb
                      :xtdb/tx-log         [:kv-store "/tmp/xtdb-storage/multi-money-dev/tx-log"]
                      :xtdb/document-store [:kv-store "/tmp/xtdb-storage/multi-money-dev/doc-store"]
                      :xtdb/index-store    [:kv-store "/tmp/xtdb-storage/multi-money-dev/index-store"]}

                   :sql
                   {:multi-money.db/provider :sql
                    :dbtype "postgresql"
                    :dbname "multi_money_development"
                    :host "localhost"
                    :port 5432
                    :user "app_user"
                    :password "please01"}

                   #_"mongodb"
                   #_{:multi-money.db/provider :mongodb
                      :database "money_development"}}}
 :app-secret "this is a weak secret for testing only"
 :google-oauth-client-id "google-client-id"
 :google-oauth-client-secret "google-client-secret"}
