@use './bootstrap/bootstrap';

.left-depth-0 {
  margin-left: 0rem;
}
.right-depth-0 {
  margin-right: 3rem;
}

.left-depth-1 {
  margin-left: 1rem;
}
.right-depth-1 {
  margin-right: 2rem;
}

.left-depth-2 {
  margin-left: 2rem;
}
.right-depth-2 {
  margin-right: 1rem;
}

.left-depth-3 {
  margin-left: 3rem;
}
.right-depth-3 {
  margin-right: 0rem;
}
